<div>
  <h1>Programming Challenge</h1>
  <select [(ngModel)]="selectedLanguage" >
    <option *ngFor="let tech of supported_languages" value="{{tech.id}}">{{tech.name}}</option>
  </select>
  <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
  <button (click)="submitCode()" >Submit Code</button>
  <input type="text" placeholder="Stdin..." value="" [(ngModel)]="stdin" >
  <input type="text" placeholder="Expected Stdout..." value="" [(ngModel)]="expected_stdout" >
  <p >{{result}}</p>
</div>
<div>
  <textarea name="codeResult" [value]="resultingCode"></textarea>
</div>